@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}
<div class="breadcrumbs">
    <a asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a>
</div>
<div class="listTitle-Container">

    <h1 class="text-black">Products</h1>

    <form id="searchContainer" class="searchContainer">
        <div id="searchWrapper">

            <svg class="search-icon" width="16" height="16" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96544 11.0377C9.13578 11.6498 8.11014 12.0116 7 12.0116C4.23858 12.0116 2 9.77302 2 7.0116C2 4.25017 4.23858 2.0116 7 2.0116C9.76142 2.0116 12 4.25017 12 7.0116C12 8.12174 11.6382 9.14737 11.0261 9.97703L13.7803 12.7313C14.0732 13.0242 14.0732 13.499 13.7803 13.7919C13.4874 14.0848 13.0126 14.0848 12.7197 13.7919L9.96544 11.0377ZM10.5 7.0116C10.5 8.94459 8.933 10.5116 7 10.5116C5.067 10.5116 3.5 8.94459 3.5 7.0116C3.5 5.0786 5.067 3.5116 7 3.5116C8.933 3.5116 10.5 5.0786 10.5 7.0116Z" fill="black" />
            </svg>
            <input type="text" id="searchInput" name="searchString" placeholder="Search..." value="@ViewBag.SearchString" autocomplete="off" />
            <svg class="search-close-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.28033 4.22651C4.98744 3.93361 4.51256 3.93361 4.21967 4.22651C3.92678 4.5194 3.92678 4.99427 4.21967 5.28717L6.93934 8.00684L4.21967 10.7265C3.92678 11.0194 3.92678 11.4943 4.21967 11.7872C4.51256 12.0801 4.98744 12.0801 5.28033 11.7872L8 9.0675L10.7197 11.7872C11.0126 12.0801 11.4874 12.0801 11.7803 11.7872C12.0732 11.4943 12.0732 11.0194 11.7803 10.7265L9.06066 8.00684L11.7803 5.28717C12.0732 4.99427 12.0732 4.5194 11.7803 4.22651C11.4874 3.93361 11.0126 3.93361 10.7197 4.22651L8 6.94618L5.28033 4.22651Z" fill="black" />
            </svg>

        </div>
    </form>

</div>
<hr />
@if (ViewBag.NoResults != null)
{

    <p class="text-black text-center">@ViewBag.NoResults</p>
    <div class="text-center">
        <a class="mx-auto" style="text-decoration: underline;" asp-controller="Product" asp-action="Index">
            Return to product list
        </a>
    </div>

}
else
{
    <table id="productListContainer" class="table row-bordered table-hover compact" style="width:100%">
        <thead>
            <tr>
                <th id="ProductName" class="text-black">
                    Product Name
                </th>
                <th class="text-black text-center">
                    Image
                </th>
                <th class="text-black text-center">
                    Price
                </th>
                <th class="text-black text-center">
                    Remaining Quantity
                </th>
                <th class="text-black text-center">
                    Stock Status
                </th>
                <th class="text-black" style="width:170px;">
                    Last Update
                </th>
                <th class="text-black">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                string shortenedProductName = product.ProductName.Length > 21 ? $"{product.ProductName.Substring(0, 21)}..." : product.ProductName;

                <tr>

                    <td class="align-middle text-black" style="">
                        @shortenedProductName
                    </td>

                    <td class="align-middle text-center">
                        <img src="@product.PrimaryDisplayImageUrl" class="rounded-circle" style="width:80px;height:80px;">
                    </td>

                    <td class="align-middle text-center text-black">
                        @string.Format("{0:C}", Convert.ToDouble(product.Price))
                    </td>

                    <td class="align-middle text-center text-black">
                        @product.RemainigQuantity
                    </td>

                    @if (product.RemainigQuantity == 0)
                    {
                        <td class="align-middle text-center" style="white-space: nowrap;">

                            <span style="display: inline-flex; align-items: center;">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" class="size-5" style="margin-right: 4px;">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" fill="red" />
                            </svg> @product.StockStatus

                                </span>

                        </td>

                    }
                    else if (product.RemainigQuantity <= 50)
                    {

                        <td class="align-middle text-center" style="white-space: nowrap;">

                            <span style="display: inline-flex; align-items: center;">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" class="size-5" style="margin-right: 4px;">
                                    <path fill-rule="evenodd" d="M1.22 5.222a.75.75 0 0 1 1.06 0L7 9.942l3.768-3.769a.75.75 0 0 1 1.113.058 20.908 20.908 0 0 1 3.813 7.254l1.574-2.727a.75.75 0 0 1 1.3.75l-2.475 4.286a.75.75 0 0 1-1.025.275l-4.287-2.475a.75.75 0 0 1 .75-1.3l2.71 1.565a19.422 19.422 0 0 0-3.013-6.024L7.53 11.533a.75.75 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill="red" />
                                </svg> @product.StockStatus

                            </span>

                        </td>

                    }
                    else if (product.RemainigQuantity >= 50)
                    {

                        <td class="align-middle text-center" style="white-space: nowrap;">

                            <span style="display: inline-flex; align-items: center;">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" class="size-5" style="margin-right: 4px;">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill="green" />
                            </svg> @product.StockStatus

                            </span>

                        </td>

                    }

                    <td class="align-middle text-black" style="width:170px;">

                        @product.LastUpdate

                    </td>

                    <td class="align-middle text-center">
                        <form asp-controller="Product" asp-action="DeletePost" asp-route-id="@product.Id" method="post">
                            <div class="dropdown">
                                <button id="ListActionBtn" class="btn btn-secondary bi bi-three-dots" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-dark  dropdown-item"><i class="bi bi-pencil-square"></i><span style="padding-right:5px;"></span>Edit</a>
                                    </li>
                                    <li>
                                        <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-dark  dropdown-item"><i class="bi bi-box-arrow-up-right"></i><span style="padding-right:5px;"></span>Details</a>
                                    </li>
                                    <li>
                                        <button type="submit" class="btn btn-danger dropdown-item text-black" style="width:100%;"
                                                onclick="return confirm('Are you sure you want to delete @product.ProductName!')">
                                            <i class="bi bi-trash3"></i><span style="padding-right:5px;"></span>Delete
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div id="searchLiveResultsContainer" style="display:none">

        @await Html.PartialAsync("_ProductSearch_Results")

    </div>
}
<div>
    <ul class="pagination">
        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
        {
            @* page - product *@
            <li class="page-item @(i == (int)ViewData["CurrentPage"] ? "Active" : "")">
                <a class="page-link" href="?page=@i"> @i </a>
            </li>
        }
    </ul>
</div>
@section Scripts {
    <script>


    </script>

}